<connectionStrings>
  <add name="DefaultConnection"
        connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-0eba38d5-0bac-4c3e-8d35-8b8b7f66f5c9;AttachDbFilename=|DataDirectory|\aspnet-Website-0eba38d5-0bac-4c3e-8d35-8b8b7f66f5c9.mdf;Integrated Security=SSPI"
        providerName="System.Data.SqlClient"/>
  <!-- The name= MUST match the name used in the DAL's eRstaurantContext.cs constructor! -->
  <!-- The Data Source MUST match the Server name as you connect to the server using the 
     Microsoft SQL Server Management studio! -->
  <add name="eRestaurantDB" connectionString="Data Source=W309-AANDERSON\SQLEXPRESS; Initial Catalog=eRestaurant; Integrated Security=true"
         providerName="System.Data.SqlClient" />
  <!-- <add name="eRestaurantDB" connectionString="Data Source=.; Initial Catalog=eRestaurant; Integrated Security=true"
       providerName="System.Data.SqlClient" /> -->
</connectionStrings>
